@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

body {
    padding: 0;
    margin: 0;
}

table {
    border-spacing: 1em 0.2em;
    margin: auto;
}

h3 {
    margin: 0.3em 0;
    font-size: 12pt;
    padding: 0 0.2em;
}

h4 {
    margin: 0;
}

.leaflet-popup-content {
    text-align: center;
}

.vehicle-label {
    min-height: 18px;
    min-width: 18px;
    left: -3px;
    top: -3px;
    font-size: 5pt;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
}

dialog {
    height: 80%;
    width: 80%;
}

dialog a:visited {
    color: blue;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

button {
    margin: 2px;
    pointer-events: auto;
    font-size: 13px;
}

.preset-button {
    width: 100%;
}

.colour-button {
    text-shadow:
        1px 1px white,
        1px -1px white,
        -1px 1px white,
        -1px -1px white,
        1px 0px white,
        -1px 0px white,
        0px 1px white,
        0px -1px white;
}

a.watermark {
    color: #0072CE;
    cursor: pointer;
    font-family: "Times New Roman", "serif";
    font-style: italic;
    font-size: min(8vw, 8vh);
    letter-spacing: min(1vw, 1vh);
    text-shadow:
        1px 1px white,
        1px -1px white,
        -1px 1px white,
        -1px -1px white;
}

.leaflet-container .leaflet-control-search {
    float: right;
}

.leaflet-popup {
    position: relative;
    pointer-events: none;
}

.leaflet-popup-tip-container {
    position: relative;
    transform: rotate(180deg);
}

.leaflet-control-layers * {
    font-size: 13px;
}

.leaflet-control-layers label {
    font-size: 13px;
}

.leaflet-popup a {
    pointer-events: auto;
}

.leaflet-control-attribution {
    text-align: right;
}

.leaflet-control-layers-list {
    min-width: 17em;
}

span.leaflet-layerstree-header-label {
    font-style: italic;
}

.leaflet-layerstree-header-label label {
    font-style: normal;
}

.unclear {
    clear: none;
}

.popup-icon {
    height: 39px;
}

.label-icon {
    height: 12px;
    padding: 3px;
}

.consist-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.leaflet-control-search .search-input {
    height: 20px;
}

.leaflet-control-search .search-button {
	background-size: 21px;
}

.leaflet-control-search .search-button:hover {
    background: url('../node_modules/leaflet-search/images/search-icon.png') no-repeat 4px -21px #fafafa;
	background-size: 21px;
}

.nonbutton {
    text-decoration: none;
}